label input[type="checkbox"] {
    display: none;
}

.collapsed {
    height: 0px;
    color: #ffffff;
    overflow: hidden;
    transition: height 0.4s;
}

input:checked + .collapsed {
    height: 200px;
    /* padding: 1rem; */
}
